.taskWrapper{
    margin-top: 13px;
    display: grid;
    grid-template-columns: 30% 57% 13%;
    grid-auto-rows: minmax(100px, auto);
    width: 50vw;
}

.date{
    border:solid;
    border-color: lightgray;
    padding:5px;
    grid-column-start: span 1;
}

.stock{
    border: solid;
    border-color: lightgray;
    padding:5px;
}

.removeIcon{
    border: solid;
    border-color: lightgray;
    padding:5px;
}

.removeIcon:hover{
    cursor: pointer;
    border: none;
    background-color: lightgray;
}

.notes{
    border:solid;
    border-color: lightgray;
    padding:13px;
    grid-column-start: span 3;
}