.taskWrapper{
    margin-top: 13px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px 50px;
    width: 50vw;
}

.taskItem{
    border: solid;
    border-color: lightgray;
    padding:5px;
}

#removeIcon{
    border: solid;
    border-color: lightgray;
    padding:5px;
}

#removeIcon:hover{
    cursor: pointer;
    border: none;
    background-color: lightgray;
}

.notes{
    word-wrap: break-word;
    padding: .5em;
    grid-column-start: 1;
    grid-column-end: 4;
    min-width: 50vw;
    overflow: auto;
}