.taskWrapper{
margin-top: 13px;
display: grid;
grid-template-columns: 30% 57% 13%;
grid-auto-rows: minmax(100px, auto);
width: 50vw;
}

.box1{
    border-right: solid;
}

.box2{
    border-right: solid;
}

.box4{
border-top:solid;
padding:13px;
grid-column-start: span 3;
}