.container{
    display: "flex";
    justify-content: "center";
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-left: 13px;
    font-weight: bolder;
}

.content{
    display: flex;
    justify-content: center;
}