.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 150px;
    width: 250px;
    background-color: lightgray;
    padding: 21px;
    margin: 13px;
    border: 1px solid #6e6c6c;
    border-radius: 12px;
    box-shadow: 2px 2px 4px 1px rgb(104, 104, 104);
}

.container:hover{
    cursor: pointer;
    opacity: 0.9;
}