.container{
    background-color: rgb(94, 94, 94);
    color: white;
    font-size: x-large;
    padding: 8px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30vw 30vw 30vw;
    align-items: center;
}

.left{
    display: flex;
    justify-content: left;
}

.right{
    display: flex;
    justify-content: center;
}

.icon{
margin-right: 13px;
}

.icon:hover{
cursor: pointer;
}