.container{
    background-color: rgb(94, 94, 94);
    color: white;
    font-size: x-large;
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.multilineColor{
    color:'white';
}

.icon:hover{
cursor: pointer;
}