.heading{
    margin: 21px;
    border: solid;
    background-color: lightgrey;
    border-color: gray;
    border-radius: 12px;
    width: 33vw;
    font-size: x-large;
    font-weight: bold;
    box-shadow: 2px 2px 4px 1px rgb(104, 104, 104);
}