.task-container{
    overflow: auto;
    box-sizing: border-box;
    margin-top: 13px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px;
    width: 55vw;
    gap: 5px;
    margin-bottom: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submitButton{
    background-color: rgb(92,92,92);
    color: white;
}

.date{
    background-color: white;
}
    
.submitButton:hover{
    cursor: pointer;
    opacity: 0.85;
    background-color: lightgrey;
    color: black;
    border: solid;
}

.inputNotes{
    grid-column-start: 1;
    grid-column-end: 4;
}

.errorMessage{
    background-color: '#ff6961';
    color: 'white';
    border-radius: '5px';
    margin: '13px 0';
    padding: '13px'; 
}

@media (max-width: 800px) { 
    .task-container{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55vw;
        }

    .inputNotes{
        min-width: 34vw;
    }
}