.task-container{
    margin-top: 13px;
    display: grid;
    grid-template-columns: 30% 57% 13%;
    grid-auto-rows: minmax(50px, auto);
    width: 50vw;
}
    
.item{
    padding: auto;
}
    
    
.last-item{
    grid-column-start: span 3;
    grid-auto-rows: minmax(150px, auto);
}