.task-container{
    margin-top: 13px;
    display: grid;
    grid-template-columns: 30% 57% 13%;
    grid-auto-rows: minmax(50px, auto);
    width: 50vw;
    margin-bottom: 21px;
}
    
.item{
    padding: auto;
}
    
button:hover{
    cursor: pointer;
    opacity: 0.85;
}
    
.last-item{
    grid-column-start: span 3;
    grid-auto-rows: minmax(150px, auto);
}