.task-container{
    margin-top: 13px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px;
    width: 50vw;
    gap: 5px;
    margin-bottom: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submitButton{
    background-color: rgb(92,92,92);
    color: white;
}
    
.submitButton:hover{
    cursor: pointer;
    opacity: 0.85;
    background-color: lightgrey;
    color: black;
    border: solid;
}

.inputNotes{
    grid-column-start: 1;
    grid-column-end: 4;
}
