.App {
  text-align: center; 
  min-height: 88vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  overflow: hidden;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
