.App {
  text-align: center; 
  position: relative;
  min-height: 95vh;
  font-family: 'Roboto', sans-serif;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  position: absolute;
  width: 100%;
}